<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.macrotester">

    <!-- AutoStart -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 파일 로그 기록/ 관리용 -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 샤오미 비행기모드 제어용 -->
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

<!-- ver 1.6.2-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_logo"
        android:label="Auto Macro"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MacroTester"
        tools:targetApi="31">
        <service
            android:name=".MonitoringService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.MACRO_SHARE_DATA_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TesterActivity"
            android:exported="false" />

        <service
            android:name=".MacroService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- <activity -->
        <!-- android:name=".AdditionalSettingsActivity" -->
        <!-- android:exported="false" /> -->
        <receiver
            android:name=".MacroReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="START_MACRO_EVENT" />
                <action android:name="END_MACRO_EVENT" />
                <action android:name="MACRO_CYCLE_ALARM" />
                <action android:name="SAVE_MACRO_RESULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoaderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>